// media scss
@media screen and (max-width:768px) {
    html,body{
        overflow-x: hidden;
        width: 100%;
    }
    .nav{
        .navbar-nav{
            display: none;
            &.active{
                position: absolute;
                width: 100%;
                display: block;
                z-index: 200;
                top: 3.2rem;
                left: 0;
                background: rgba($color: #000000, $alpha: 0.8);
                a{
                    display: block;
                    padding: 20px;
                    width: 100%;

                }
            }
        }
        .btn{
            display: block;
        }
    }
    .home{
        .me{
            .home-item{
                .home-wrapper{
                    align-items: center;
                    justify-content: center;
                    .home-text{
                        width: 80%;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    .service{
        .row{
            flex-direction: column;
            .service_item{
                width: 80%!important;
                margin: 10px auto;
                .ser_img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
    .about-us{
        .row{
            flex-direction: column;
            div{
                width: 80%;
            }
        }
    }
    footer{
        h2{
            font-size: 1.2rem;
        }
    }
    .boxs{
        width: 200px!important;
        height: 250px!important;
        object-fit: contain!important;
    }
}

@media screen and (max-width:991px) {
    html,body{
        overflow-x:hidden;
    }
    .service{
        .row{
            flex-wrap: wrap;
            .service_item{
                width: 40%;
                margin: 10px 0;
            }
        }
    }
    .about-us{
        .row{
            flex-wrap: wrap;
            .text{
                width: 80%;
            }
            div{
                width: 60%;
                margin: 10px auto;
            }
        }
    }
}

@media screen and (max-width:1034) {
    html,body{
        overflow-x: hidden;
    }
}